#Mac OSX
*.DS_Store

#Python build
*.pyc

#log files
*.log

#hash file
hash

#ssl files
*.pem

#local node.js installations
/node_modules

#emacs backup files
*~

#auxiliary files for coadding
summaryplot/fields_aux_files/bad_map_list.txt
summaryplot/fields_aux_files/*.g3
summaryplot/fields_aux_files/*.fits
summaryplot/fields_aux_files/*.pickle

#data directoires
static_plots

#certain javascript dependencies
js/*jquery*
js/photoswipe*
js/tabulator*
js/Tween*