transfer_db_path: /poleanalysis/sptdaq/db/transfer.db
auxtransfer_db_path: /poleanalysis/sptdaq/db/aux_transfer.db
autoproc_db_path: /poleanalysis/sptdaq/db/autoproc.db

key_file:
cert_file:

plot_dir: /tmp/data_quality/

calib_data_dir: /poleanalysis/sptdaq/calresult/
bolo_data_dir: /spt_data/bolodata/

port: 3000