unset PYTHONPATH
eval `/software/clustertools/py3-v1/setup.sh`
export PYTHONPATH=$PYTHONPATH:/home/adama/code/:/home/adama/code/py3/spt3g_software/build/

# node
export PATH=$PATH:$HOME/code/spt_dq_system/node-v8.9.3-linux-x64/bin