<form>
    <fieldset class="field-with-border">
    <legend>Recent</legend>
    <div id="datalist_{{map_tab_name}}_last_n">
    </div>
    </fieldset>
    <br>
    <fieldset class="field-with-border">
    <legend>Yearly</legend>
    <div id="datalist_{{map_tab_name}}_yearly">
    </div>
    </fieldset>
    <br>
    <fieldset class="field-with-border">
    <legend>Monthly</legend>
    <div id="datalist_{{map_tab_name}}_monthly">
    </div>
    </fieldset>
    <br>
    <fieldset class="field-with-border">
    <legend>Weekly</legend>
    <div id="datalist_{{map_tab_name}}_weekly">
    </div>
    </fieldset>
</form>